{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<main>
		<h1 class="my-5">Votre recherche</h1>
		<div class="container">
			<ul>
				{% for program in programs %}
					<li>
						<a class="btn btn-primary text-light px-3" href="{{ path('program_show', {'id': program.id}) }}">{{ program.title }}</a>
					</li>
				{% else %}
					Aucune série trouvée.
				{% endfor %}
			</ul>
		</div>
	</div>
</main>{% endblock %}
