{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<h1 class="my-5">Toutes les catégories</h1>
		<div class="text-center">
			{% for category in categories %}
				<a class="btn btn-primary text-white px-3 m-3 fs-4" href="{{ path('category_show', {'name': category.name}) }}">{{ category.name }}</a>
			{% endfor %}
		</div>
	</main>
{% endblock %}
