{% extends 'base.html.twig' %}

{% block title %}Edit Episode
{% endblock %}

{% block body %}
	<h1 class="my-5">Modifier un épisode</h1>

	<div class="container d-flex flex-column col-lg-6">
		{{ include('episode/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<a class="align-self-center mt-5" href="{{ path('app_episode_index') }}">Retour à la liste des épisodes</a>
	</div>
{% endblock %}
