{% extends "baseEmail.html.twig" %}
{% block title %}
	Nouvelle série
{% endblock %}
{% block body %}
	{% apply inky_to_html %}
	<container>
		<row class="header">
			<columns>
				<h1 class="text-center">Bonjour cher abonné Wild Series!</h1>
			</columns>
		</row>

			<h2>Nouvelle série
				{{ program.title }}
				créée</h2>
			<p>Bonjour, une nouvelle série
				{{ program.title }}
				est arrivée sur Wild Series</p>
			<p>Synopsis :{{program.synopsis }}
			</p>
	</container>
	{% endapply %}
{% endblock %}
