{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<main>
		<h1 class="my-5">{{ program.title }}</h1>
		<h2 class="h5">Catégorie :
			{{ program.category.name }}</h2>
		<p>Synopsis :
			{{ program.synopsis }}</p>

	</main>
{% endblock %}
