$primary: #e13b85;
$secondary: #ae64ac;
$dark: #464545;
$light: #feffc0;

$body-color: white;
$input-color: $dark;
$input-group-addon-color: $dark;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "light": $light,
);

@import "~bootstrap/scss/bootstrap";


body {
    background: url("../images/bg-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

.navbar img {
    height: 50px;
}

.hidden {
    display: none;
}

.program .card-img-top {
    object-fit: cover;
    object-position: center;
    height: 250px;
}
