$primary: #e13b85;
$secondary: #ae64ac;
$dark: #464545;
$light: #feffc0;

$body-color: white;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "light": $light,
);

body {
    background: url('../images/bg-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#category_name, #input-dark, #program_title, #program_synopsis, #program_poster, #program_category {
    color: $dark;
}

h1 {
    text-align: center;
}

.navbar img {
    height: 50px;;
}

.navbar-toggler {
    background-color: $primary;
    fill: $dark;
}

@import "~bootstrap/scss/bootstrap";
